.card
  .card-body
    %h4.card-title=t 'global.staff'
    .card-description
    %table.table.bordered#staffdt
      %thead
        %th=t 'staff.name'
        %th=t 'staff.mobile'
        %th=t 'staff.designation'
      %tbody
    = pagy_bootstrap_responsive_nav(@pagy).html_safe
