DB_HOST:                    "localhost"
DB_USER:                    "postgres"
DB_PASSWORD:                "123456"
DB_POOL:                    "5"


development:
  DATABASE: 'absentee_development'

test:
  DATABASE: 'absentee_test'

production:
  DATABASE: 'absentee_production'
