%ul.nav.nav-tabs
  %li.nav-item
    %a.nav-link.active{"data-toggle" => "tab", :href => "#home"} Students
  %li.nav-item
    %a.nav-link{"data-toggle" => "tab", :href => "#menu1"} Upload

/ Tab panes
.tab-content
  #home.tab-pane.container.active
    .card
      .card-body
        .row
          .col-md-4
            %h4.card-title Students
          .col-md-2
            %h5 Standard
          .col-md-6
            = select_tag 'standard', options_for_select(@standards.collect{ |s| [s.name, s.id] }), class: 'standard-select'
        .card-description

        %table.table.table-striped#dttb
          %thead
            %th Registration Number
            %th Roll No
            %th Name
            %th Gaurdian Name
            %th Guardian Mobile No
          %tbody
          = pagy_bootstrap_responsive_nav(@pagy).html_safe
  #menu1.tab-pane.container.fade
    .card
      .card-body
        %h4 Upload student information
        .row
          .col-md-6
            = label_tag 'Class'
            = select_tag 'standard', options_for_select(@standards.collect{ |s| [s.name, s.id] }), class: 'standard-select'
          .col-md-4
